{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
	<div class="container-fluid vh-100">

		<div class="neon-accueil">

			<div class="container mb-4">

				<form method="post">


					<h1 class="text-center my-4">Mot de passe oublié</h1>

					<label for="email">Mon email de connexion</label>
					<input type="email" name="email" class="form-control" required>

					<button class="my-3 btn btn-lg btn-bronze" type="submit">
						envoyez un email
					</button>

				</form>
			</div>
		</div>
	</div>
{% endblock %}
