{% extends 'backoffice.html.twig' %}

{% block title %}backoffice{% endblock %}

{% block body %}


<div class="container">

         <h1>Bienvenue dans l'espace Administrateur</h1>

    
</div>
{% endblock %}
