
h1,h2,h3,h4,h5,h6,b,nav{
    font-family: "Playfair Display", serif;
}

body{
    font-family: "Poppins", serif;
}

/* Couleurs du site */

:root {
    --turquois: #15616D; 
    --bronze: #BC8340; 
    --cream: #ECE5D1; 
}


.color-turquois{
    color: var(--turquois);

}
.color-bronze{
    color: var(--bronze);

}
.btn-turquois {
    background-color: var(--turquois); /* Utilisation de la variable pour la couleur de fond */
    color: white; /*la couleur du texte */
}

.btn-bronze {
    background-color: var(--bronze); /* Utilisation de la variable pour la couleur de fond */
    color: white; /*la couleur du texte */
}

.btn-cream{
    background-color: var(--cream);
}

/* backoffice */

.img-thumbnail img {
    max-width: 400px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
  }
  